<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Fizik Tedavi</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Fizik Tedavi Merkezi</h1>
        </div>
        <div class="ustmenu">
        <nav>
             <a href="index.html" class="btn">Ana Sayfa</a>
             <a href="randevu/randevu.html" class="btn">Randevu</a>

             <a href="hakkimizda.html" class="btn">Hakkımızda</a>
             <a href="iletisim/iletisim.html" class="btn">İletişim</a>
             <div class="social-items">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
        </nav>
        </div>
    </header>
    <section class="bilgi">
        <p>Fizik Tedavi bölümünde amaç, hastaların yaşam kalitesini artırmak;<br>fizyolojik,sosyal,ruhsal ve mesleki olarak bağımsız bir şekilde hayatlarını sürdürmelerini sağlamaktır.</p>
        <img src="./images/turbp.png">

    </section>
<section id = "tedaviler" class="section">
    <h2 class="section-title">Tedaviler</h2>
    <div id="tedavi-grid" class="grid"></div>
</section>
<script type="module" src="./treatments.js"></script>
</body>
</html>