<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./iletisim.css/">
    <meta charset="UTF-8">
    <title>İletişim | Fizik Tedavi</title>
</head>
<body>
<header>
    <div class="header-content">
        <h1>Fizik Tedavi Merkezi</h1>
    </div>
    <div class="ustmenu">
        <nav>
            <a href="../index.html" class="btn">Ana Sayfa</a>
            <a href="./randevu/randevu.html" class="btn">Randevu</a>
            <a href="hakkimizda.html" class="btn">Hakkımızda</a>
            <a href="./iletisim/iletisim.html" class="btn active">İletişim</a>
            <div class="social-items">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </nav>
    </div>
    </div>
</header>
<section class="iletisim">
<h2>Bize Ulaşın</h2>
<div class="iletisim-container">
    <div class="form">
        <form action="#" method="post">
            <label for="ad">Ad Soyad</label>
            <input type="text" id="ad" name="ad" required>
            <label for="email">E-posta</label>
            <input type="email" id="email" name="email" required>
            <label for="mesaj">Mesajınız</label>
            <textarea id="mesaj" name="mesaj" rows="5" required></textarea>
            <button type="submit" class="btn">Gönder</button>
            </form>
        </div>
    <div class="adres">
        <h3>Adres</h3>
        <p>asdasdasdas</p>
        <h3>Telefon</h3>
        <p>111111111</p>
        <h3>info@fiziktedavi.com</h3>
        <h3>Sosyal Medya</h3>
        <p>
            <i class="fa-brands fa-facebook"></i> Facebook <br>
        </p>
    </div>
    </div>
</section>
</body>
</html>